/* Base Application Styles */

$baseColor: #333333;

@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 375px ) and (min-width: 321px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 376px) {
  html {
    font-size:16px;
  }
}

.baseColor {
  color: $baseColor;
}

body {
  color: $baseColor;
  background: rgb(242, 242, 242);
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none
}

ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#app {}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.text-center {
  text-align: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Microsoft yahei';
}

.header {
  display: flex;
  color: #000000;
  border-bottom: 1px solid #cccccc;
}

.headerLeftContainter, .headerRightContainer {
  flex: 1 1 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerMiddleContainer {
  flex-grow: 4;
  font-weight: 400;
}

.headerLeftContainter, .headerMiddleContainer, .headerRightContainer {
  margin: 2vh 0;
}

.time-container {
  height: 20vh;
  flex-direction: column;
}

.sign-container {
  flex: 2;
  flex-direction: column;
}

.sign-body {
  width: 33vw;
  height: 33vw;
  border-radius: 33vw;
  border: 5px solid red;
}

.sign-button-container {
  $length: 50vw;
  height: $length;
  .sign-button {
    width: $length;
    height: $length;
  }
}



.sign-footer {
  margin-top: 10px;
  color: #eeeeee;
}

.address-container {
  margin-top: 10vh;
  flex-direction: column;
}

.showmap-container {
  margin-top: 2vh;
}

.flex-center-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.time-text {
  font-size: 3rem;
  font-family: "Aharoni";
  font-weight: bold;
}

.date-text {
  font-size: 1rem;
  color: #797979;
}

.sign-succeed-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sign-succeed-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-bottom: 1px solid #ccc;
}

.sign-succeed-button-container {
  flex-grow: 1;
  text-align: center;
}

#signSucceedImg {
  width: 33vw;
  margin-bottom: 0.5rem;
}

.sign-succeed-tips {
  color: red;
  font-size: 1rem;
}

.sign-succeed-info {
  padding: 10vh 0 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.sign-succeed-info-icons {
  flex: 1;
}

.sign-succeed-info-sign {
  flex: 2;
}

.sign-succeed-info-sign-time {}

.sign-succeed-info-texts {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #666666;
}

.sign-succeed-info-texts:first-child {
  margin-bottom: 0.5rem;
}

.share-button {
  padding: 10px 50px;
  color: #fff;
  background-color: rgb(71, 103, 150);
  border-radius: 20px;
  border: none;
  font-size: 16px;
}

.remark-page-container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex: 2;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

.remark-photo-container {
  height: 40vw;
  display: flex;
  flex: 1;
  padding-top: 1.5rem;
}

.remark-photo-btn {
  width: 100%;
  height: 100%;
}

.remark-text-area {
  width: 100%;
  height: 40vw;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.remark-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remark-text-container-header {
  margin-bottom: 0.8rem;
}

.remark-btn-container {
  flex: 1;
  padding-top: 2rem;
}

.textarea-no-resize {
  resize: none;
}

.remark-confirm-btn {
  width: 100%;
  padding: 8px 0;
  background-color: rgb(71, 103, 150);
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-showmap {
  background-color: rgb(71, 103, 150);
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 50px;
}

.myself-container {
  height: 15vh;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.child-container {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.myself-label, .child-label {
  font-size: 1.2rem;
}

.myself-position, .child-position {
  color: #868686;
  font-size: 1.0rem;
}

.show-history-btn {
  background-color: #ffffff;
  color: #56ACF2;
  border: 1px solid #56ACF2;
  padding: 0.2rem 0.8rem;
  border-radius: 0.8rem;
  font-size: 0.8rem;
}

.myself-body-container {
  padding: 2vh 0;
}

.myself-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-left: 1.5vw solid rgb(71, 103, 150);
  padding: 2vh 4.5vw 2vh 3.5vw;
}

.child-list-container {
  background-color: #ffffff;
  padding: 2vh 4.5vw;
}

.child-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2vh 2vw 1vh 2vw;
  border-bottom: 1px solid #e4e4e4;
}

.child-body:first-child {
  padding-top: 0;
}

.waiqin-history-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.waiqin-history-date-container {
  display: flex;
  align-items: center;
  height: 70px;
}

.waiqin-history-date-left-container, .waiqin-history-date-right-container {
  display: flex;
  flex: 1 1 1rem;
  align-items: center;
  justify-content: center;
}

.waiqin-history-date-left-body-container, .waiqin-history-date-right-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.waiqin-history-date-middle-container {
  text-align: center;
  color: #6E6E6E;
}

.date-title {
  color: #6E6E6E;
  font-weight: 400;
  font-size: 1rem;
}


.date-content {
  color: #333333;
  font-weight: bold;
  font-size: 1.4rem;
}

.waiqin-history-body-container {
  padding: 0 3vw;
  flex: 1 1 auto;
  background-color: #ffffff;
}

.history-item-container {
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 1.2rem;
  padding: 0 1.2rem 0.6rem 1.2rem;
}

.history-item-mesg-container {
  display: flex;
  flex: 1 auto;
}

.history-item-icon-container {
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem 0 0;
}

.history-item-address-icon, .history-item-text-address-container{
  margin-top: 0.6rem;
}

.history-item-text-container {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
}

.history-item-text-time-container {
  height: 24px;
  display: flex;
  align-items: center;
  color: #cc0000;
}

.history-item-text-address-container, .history-item-text-time-container {
  font-size: 1rem;
}

.history-item-photo-container {
  width: 50px;
}

.history-container {
  padding-top: 2rem;
}

.history-item-text-time-ms {
  margin-left: 2rem;
}

.errorMesg {
  color: #cc0000;
  text-align: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
