/* Base Application Styles */
body {
  color: #333333;
  background: rgb(242, 242, 242);
  margin: 0;
}

*{
  box-sizing: border-box;
}

#app {

}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.text-center {
  text-align: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Microsoft yahei';
}

.header {
  display: flex;
  color: #000000;
  border-bottom: 1px solid #cccccc;
}

.headerLeftContainter, .headerRightContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerMiddleContainer {
  flex-grow: 4;
  font-weight: 400;
}

.headerLeftContainter, .headerMiddleContainer, .headerRightContainer {
  margin: 7px 0;
}

.time-container {
  flex-grow: 2;
  flex-direction: column;
}

.sign-container {
  flex:2;
  flex-direction: column;
}

.sign-body {
  width: 33vw;
  height: 33vw;
  border-radius: 33vw;
  border: 5px solid red;
}

.sign-button {
  width: 50vw;
}

.sign-footer {
  margin-top: 10px;
  color: #eeeeee;
}

.address-container {
  flex-direction: column;
  flex: 6
}

.flex-center-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.time-text {
  font-size: 3rem;
  font-family: "Aharoni";
  font-weight: bold;
}

.date-text {
  font-size: 1rem;
  color: #797979;
}

.sign-succeed-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sign-succeed-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-bottom: 1px solid #ccc;
}

.sign-succeed-button-container {
  flex-grow: 1;
  text-align: center;
}

#signSucceedImg {
  width: 33vw;
  margin-bottom: 0.5rem;
}

.sign-succeed-tips {
  color: red;
  font-size: 1rem;
}

.sign-succeed-info {
  padding: 10vh 0 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction:row;
}

.sign-succeed-info-icons {
  flex: 1;
}

.sign-succeed-info-sign {
  flex: 2;
}

.sign-succeed-info-sign-time {
}

.sign-succeed-info-texts {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #666666;
}

.sign-succeed-info-texts:first-child {
  margin-bottom: 0.5rem;
}

.share-button {
  padding: 10px 50px;
  color: #fff;
  background-color: rgb(71, 103, 150);
  border-radius: 20px;
  border: none;
  font-size: 16px;
}

.remark-page-container {
  width: 70vw;;
  margin: 0 auto;
  display: flex;
  flex: 2;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

.remark-photo-container {
  display: flex;
  flex: 1;
  padding-top: 1.5rem;
}

.remark-photo-btn {
  width: 100%;
  height: 40vw;
}

.remark-text-area {
  width: 100%;
  height: 40vw;
  border: 1px solid #ccc;
}

.remark-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remark-text-container-header {
  margin-bottom: 0.8rem;
}

.remark-btn-container {
  flex: 1;
  padding-top: 2rem;
}

.textarea-no-resize {
  resize: none;
}

.remark-confirm-btn {
  width: 100%;
  padding: 8px 0;
  background-color: rgb(71, 103, 150);
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-showmap {
  background-color: rgb(71, 103, 150);
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 50px;
}
