/* Base Application Styles */
body {
  color: #333333;
  background: #eeeeee;
  margin: 0;
}

*{
  box-sizing: border-box;
}

#app {

}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.text-center {
  text-align: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Microsoft yahei';
}

.header {
  display: flex;
  background-color: #ae0000;
  color: #ffffff;
}

.headerLeftContainter, .headerRightContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerMiddleContainer {
  flex-grow: 3;
  font-weight: 400;
}

.headerLeftContainter, .headerMiddleContainer, .headerRightContainer {
  margin: 7px 0;
}

.time-container {
  flex-grow: 2;
  flex-direction: column;
}

.sign-container {
  flex-grow: 3;
  flex-direction: column;
}

.sign-body {
  width: 33vw;
  height: 33vw;
  border-radius: 33vw;
  border: 5px solid red;
}

.sign-button {
  width: 50vw;
}

.sign-footer {
  margin-top: 10px;
}

.address-container {
  flex-direction: column;
  flex-grow: 2;
}

.flex-center-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.time-text {
  font-size: 3rem;
  font-family: "Aharoni";
  font-weight: bold;
}

.date-text {
  font-size: 1rem;
  color: #797979;
}

.sign-succeed-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sign-succeed-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-bottom: 1px solid #ccc;
}

.sign-succeed-info {
  padding: 10vh 0 0 0;
  flex-grow: 2;
  display: flex;
  flex-direction: column
}

.sign-succeed-button-container {
  flex-grow: 1;
  text-align: center;
}

#signSucceedImg {
  width: 33vw;
  margin-bottom: 0.5rem;
}

.sign-succeed-tips {
  color: red;
  font-size: 1rem;
}

.sign-succeed-info-texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.sign-succeed-info-texts:first-child {
  margin-bottom: 0.5rem;
}

.share-button {
  padding: 10px 50px;
  color: #fff;
  background-color: #cc0000;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}
